div.titlemenu_dolphin{
    margin:0px;
    padding:12px 0px 20px 3px;
}

div.titlemenu_dolphin a.titlemenu_dolphin:link,div.titlemenu_dolphin a.titlemenu_dolphin:visited,div.titlemenu_dolphin a.titlemenu_dolphin:active{
    display:block;
    text-decoration: none;
    font:12px/25px Verdana, Arial, Helvetica, sans-serif;
    height:24px;
    text-align:left;
    background:url(http://www.yx1178.com/page/templates/images/dot2.gif) 0px 0px no-repeat;
    padding-left:53px;
    margin:0px;
    color:#7a7a7a;
}

div.titlemenu_dolphin a.titlemenu_dolphin:hover{
    display:block;
    color:#e10000;
    text-decoration: none;
}